server:
  port: 9001

spring:
  application:
    name: hystrix-client

eureka:
  client:
    service-url:
      defaultZone: http://localhost:7000/eureka
  instance:
    instance-id: ${spring.application.name}-${random.int[1000,9999]}
    prefer-ip-address: true