server:
  port: 9000

spring:
  application:
    name: ribbon-client

# 自定义serviceId负载规则 (若指定了全局负载均衡策略这种配置会失效，需要使用java注解)
feign-service:
  ribbon:
    NFLoadBalancerRuleClassName: com.netflix.loadbalancer.RandomRule

ribbon:
  eureka:
    enabled: true


eureka:
  client:
    service-url:
      defaultZone: http://localhost:7000/eureka
  instance:
    instance-id: ${spring.application.name}-${random.int[1000,9999]}
    prefer-ip-address: true
