server:
  port: 9003

spring:
  application:
    name: feign-advanced-client
  main:
    allow-bean-definition-overriding: true

eureka:
  client:
    service-url:
      defaultZone: http://acexy-tech.eureka:7000/eureka
  instance:
    instance-id: ${spring.application.name}-${random.int[1000,9999]}
    prefer-ip-address: true
